<body>
        <header class="header-dash">
            <nav class="nav-dash">
                <img src="../../img/logo.png" alt="Logo do Arte de Viver. Dois Cisnes em um lago e entre eles um sol se pondo">
                <a href="">SAIR</a>
            </nav>
        </header>
    
    

            <aside class="auxiliar-nav">
                <ul>
                    <li><a href="">PÁGINAS</a></li>
                    <li><a href="">USUÁRIOS</a></li>
                    <li><a href="">INTERESSADOS</a></li>
                </ul>
            </aside>
            <main class="dash-body">