<footer>
    <div class="container-left">
        <a href="/"><img class="logo-footer" src="/img/logo.png" alt="Logo da Arte de Viver"></a>
        <ul class="social-media">
            <li ><a href="https://twitter.com/artedeviver_br" target="_blank"><img src="/img/footer/twitter.png"
                    alt="Logo Twitter"></a></li>
            <li ><a href="http://www.facebook.com/artedeviverbr" target="_blank"><img src="/img/footer/facebook.png"
                    alt="Logo Facebook"></a></li>
            <li ><a href="https://www.youtube.com/artedeviverbr" target="_blank"><img src="/img/footer/youtube.png"
                    alt="Logo Youtube"></a></li>
            <li ><a href="http://instagram.com/artedeviverbr" target="_blank"><img src="/img/footer/instagram.png"
                    alt="Logo Instagram"></a></li>
        </ul>
    </div>

    <div class="list">
        <h3>Lorem ipsum dolor</h3>
        <ul>
            <li><a>Lorem ipsum amet</a></li>
            <li><a>Lorem ipsum amet</a></li>
            <li><a>Lorem ipsum amet</a></li>
        </ul>
    </div>

    <div class="list">
        <h3>Lorem ipsum dolor</h3>
        <ul>
            <li><a>Lorem ipsum amet</a></li>
            <li><a>Lorem ipsum amet</a></li>
            <li><a>Lorem ipsum amet</a></li>
        </ul>
    </div>

    <div class="contact clearfix">
        <h3>Fale conosco</h3>
        <div class="container-list-contact">
            <ul class="clearfix">
                <li><img src="/img/footer/icone-localizacao.png" alt="Icone representando marcação de um local">
                    Lorem ipsum dolor</li>
                <li><img src="/img/footer/smartphone.png" alt="Icone celular vibrando"> Lorem ipsum dolor</li>
                <li><img src="/img/footer/envelope.png" alt="Icone carta de correio"> Loremipsum dolor</li>
                <li><img src="/img/footer/coracao.png" alt="Icone de coração ">Lorem ipsum dolor</li>
            </ul>
        </div>
        <span class="copyright">copyright@ArtedeViver</span>
    </div>
</footer>

<script src="./js/animations.js"></script>
<!-- <script src="./js/carousel.js"></script>
<script src="./js/beamember-carousel.js"></script>
<script src="./js/carrousel-historia.js"></script>
<script src="./js/pop-up.js"></script> -->
<!-- <script src="./js/newsLetterValidation.js"></script> -->
</body>

</html>