<header>
    <a href="index.html"><img src="img/logo.png"
            alt="Logo do Arte de Viver. Dois Cisnes em um lago e entre eles um sol se pondo " class="nav-brand"></a>

    <div class="navigation-container">
        <div class="search-container">
            <img src="img/nav-bar/search.png" alt="Icone de uma lupa branca" class="nav-icon">
            <input type="text" name="search" class="input-search">
        </div>

        <nav>
            <ul>
                <li><a href="index.html" class="nav-item nav">HOME</a></li>
                <li><a href="pages/cursos.html" class="nav-item nav">CURSOS</a></li>
                <li><a href="pages/quem-somos.html" class="nav-item nav">QUEM SOMOS</a></li>
                <li><a href="pages/news-general.html" class="nav-item nav">NOTÍCIAS</a></li>
                <li><a href="pages/seja-membro.html" class=" nav-item"><span class="nav-button">SEJA MEMBRO</span></a></li>
            </ul>
        </nav>
    </div>
</header>