<%- include ../partials/dashHeader.ejs %>
<%- include ../partials/dashPage.ejs %>


<h1>visão geral - todas as páginas</h1>

<div class="card-container">
    <a href="./dashboard/news" class="card card-link">notícias</a>
    <a href="" class="card card-link">cursos</a>
    <a href="" class="card card-link">home</a>
    <a href="" class="card card-link">quem somos</a>
    <a href="" class="card card-link">seja membro</a>
</div>


<%- include ../partials/dashFooter.ejs %>

