<%- include ../partials/dashHeader.ejs %>
<%- include ../partials/dashPage.ejs %>

<h1>visão geral - todas as páginas</h1>

<div class="card-container">
    <a href="" class="card">notícias</a>
    <a href="" class="card">cursos</a>
    <a href="" class="card">home</a>
    <a href="" class="card">quem somos</a>
    <a href="" class="card">seja membro</a>
</div>

<%- include ../partials/dashFooter.ejs %>

