<%- include ../partials/dashHeader.ejs %>
<%- include ../partials/dashPage.ejs %>


<h1>visão geral - todas as páginas</h1>

<div class="card-container">
    <a href="./dashboard/news" class="card card-link ">notícias</a>
    <a href="./dashboard/courses" class="card card-link">programas</a>
    <a href="./dashboard/home" class="card card-link">home</a>
</div>


<%- include ../partials/dashFooter.ejs %>
