<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style-reset.css">
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="../../css/general.css">
    <title>Login</title>
</head>


<body>
    <p class="success"><%= success %></p>

    <section class="pop-up">
            <div>
                <p class="title">Login ou senha inválidos</p>
                <a href="/login" class="tertiary">voltar</a>
            </div>
        </section>
        
    <section class="login-card">
        <img src="/img/logo.png" alt="">

        <form method="POST" action="/authenticate" class="form-container">
            <label>e-mail</label>
            <input class="input-general" type="text" name="email">

            <label>senha</label>
            <input class="input-general" type="password" name="password">

            <button class="primary btn-login">entrar</button>
        </form>
    </section>
</body>
</html>

<script src="./js/login.js"></script>