button {
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    color: white;
}

button:focus, input:focus  {
    outline: 0;
}

.primary{
    height: 42px;
    width: 190px;
    background: #F27623;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
}

.primary:hover{
    background: #D74C11;
}

.tertiary{
    color: white;
    font-size: 16px;
    text-align: initial;
}

.tertiary:hover{
    color: #F27623;
    cursor: pointer;
}

.body-cadastro .pop-up button {
    background: #4EB4BF;
    width: 400px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    color: white;
}

.body-cadastro .pop-up button:hover{
    background-color: rgb(65, 147, 156);
}