.main-seja-membro main{
    margin: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-seja-membro .form-title{
    color: #4EB4BF;
    margin: 40px 82px;
    padding-bottom: 40px ;
    text-align: center;
    font-size: 65px;
    line-height: 70px;
    border-bottom: 1px solid #FFC24F;
}

.main-seja-membro form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.main-seja-membro .question{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.main-seja-membro .input-container{
    width: 320px;
    margin-bottom: 60px;
}

.main-seja-membro .input-text, .section-text{
    background-color: #4EB4BF;
    color: white;
    border: none;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.main-seja-membro .section-text{
    width: 320px;
}

.main-seja-membro .input-container .input-radio{
    text-align: center;
}

.main-seja-membro  .space{
    margin-bottom: 15px;
}

.main-seja-membro .text-area{
    height: 300px;
}

.main-seja-membro ::placeholder{
    color:white;
    font-family: 'Raleway', sans-serif;
}

.main-seja-membro form .primary{
    width: 320px;
    margin-bottom: 60px;
}

.main-seja-membro .space-button{
    margin-top: 60px;
}

.main-seja-membro .cadastro-container{
    display: flex;
    width: 85%;
    box-sizing: border-box;
}

.main-seja-membro .container-button{
    color: black;
    width: 210px;
    display: flex;
    align-items:flex-end;
    padding-bottom: 60px ;
    cursor: auto;
}

.main-seja-membro .container-button a{
    color: #FFC24F;
}

.main-seja-membro .container-button a:hover{
    color: #D74C11;
}

.main-seja-membro .legal, .natural{
    display: none;
}