.body-cadastro .title-container p{
    width: 400px;
}

.body-cadastro .principal-title-container{
    width: 500px;
}


.body-cadastro .pop-up{
    background-color: rgba(0, 0, 0, 0.5) ;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.body-cadastro .pop-up div{
    background-color: white;
    text-align: center;
    width: 50%;
    height: 300px;
    padding: 3%;
    border-radius: 8px;
}

.body-cadastro .pop-up p:nth-child(1){
    color: #4EB4BF;
    font-weight: 600;
    font-size: 30px;
    line-height: 125%;
    margin-bottom: 5%;
}

.body-cadastro .pop-up p:nth-child(2){
    color: #C74C11;
    font-size: 20px;
    margin-bottom: 10%;
}

.body-cadastro .pop-up button {
    background: #4EB4BF;
    width: 400px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    color: white;
}

.body-cadastro .pop-up button:hover{
    background-color: rgb(65, 147, 156);
}

.body-cadastro .overflow-hidden{
    overflow: hidden;
}