.main-course .testimonial {
    background-image: url(../img/projects/background-sessao-impactos.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-right: 82px;
}

.main-course .report {
    color: white;
    width: 50%;
    text-align: center;
    width: 50%;
    margin-left: 50%;
}

.main-course .testimonial div {
    padding: 5%;
}

.main-course .section-title {
    font-weight: 600;
    font-size: 45px;
    height: 75px;
    display: flex;
    align-items: center;
    color: white;
    border-right: 5px solid white;
    margin: 0px 0px 60px;
}

.main-course .section-title {
    width: 20%;
    color: #d74c11;
    border-right: #d74c11 solid 5px;
}

.main-course .impact {
    padding: 30px 82px;
    padding-bottom: 70px;
}

.main-course .impact p {
    color: #d74c11;
}

.main-course .impact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-course .impact-container div {
    width: 300px;
    text-align: center;
}

.main-course .impact img {
    margin-top: 50px;
    width: 300px;
    margin-bottom: 25px;
}

.main-course .impact-container p {
    line-height: 30px;
    text-align: left;
    ;
}