.footer-container {
    border: 1px solid;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70px 70px 70px;
}

footer {
    background: #F29F05;
    color: #ffffff;
}

footer h3 {
    grid-row:3;
}

.container-social-img {
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
}

.container-social {
    text-align: center;
}

footer .logo-footer {
    width: 145px;
    cursor: pointer;
}

footer img {
    width: 25px;
    cursor: pointer;
}

footer h3 {
    font-size: 1.25em;
    font-weight: normal;
}

footer li {
    font-weight: 300;
    line-height: 35px;
}

footer li:hover {
    color: #480000;
    cursor: pointer;
}

/*
footer .list {
    text-align: center
}

footer .container-list-contact ul li {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

footer .container-list-contact ul li:nth-child(1),
footer .container-list-contact ul li:nth-child(3) {
    float: left;
}

footer .container-list-contact ul li:nth-child(2),
footer .container-list-contact ul li:nth-child(4) {
    float: right;
}

footer .contact {
    width: 35%;
}

footer .contact h3 {
    text-align: center
}

footer .contact img {
    width: 25px;
    padding: 15px;
}

footer .container-left {
    display: flex;
    flex-direction: column;
    top: -10px;
    position: relative
}

footer .social-media {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%
}



footer .social-media img:nth-last-child(2){
    margin-right: 5%;
}

footer .logo-footer {
    width: 145px;
    cursor: pointer;
}

footer .copyright{
    font-size: 0.75em;
    float: right;
    align-items: flex-end;
    margin-top: 13%
    
} */