.footer-container {
    border: 1px solid;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70px 70px 70px;
}

footer {
    background: #F29F05;
    color: #ffffff;
}

footer h3 {
    grid-row: 3;
}

.container-social-img {
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
}

.container-social {
    text-align: center;
}

footer .logo-footer {
    width: 145px;
    cursor: pointer;
}

footer img {
    width: 25px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

footer h3 {
    font-size: 1.25em;
    font-weight: normal;
}

footer li {
    font-weight: 300;
    line-height: 35px;
    display: flex;
    align-items: center;
}

footer li:hover {
    color: #480000;
    cursor: pointer;
}

footer .copyright {
    grid-row: 4;
    grid-column: 4;
}

footer .copyright span {
    float: right;
    content: ' ';
    display: table;
    clear: both;
}