main {
    grid-column-start: 2;
}

input {
    padding: 2%;
    margin: 2% 0% 5% 0%;
    border: 0.5px solid #F27623;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-weight: 400;
}

.input-general {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.alert-error {
    display: none;
    font-size: 12px;
    color: red;
    margin: 2% 0% 5% 0%;
}

.error {
    border: 1px solid red;
    margin-bottom: 0.5%;
}

.error+.alert-error {
    display: block
}

button {
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.19);
}

.btn-disabled {
    background-color: #aaa;
    color: grey;
    cursor: not-allowed;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
}

.btn-card {
    width: 40%;
    font-size: 14px;
    padding: 3.1% 0%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.19);
}

.btn-principal {
    width: 18%;
    margin-top: 0px;
    text-align: center;
    border-radius: 5px;
    padding: 1.5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(32, 32, 32, 0.19);
}

.btn-change {
    padding: 2%;
    margin: 2% 0% 8% 0%;
}

.btn-delete {
    width: 100%;
    padding: 7.5%;
}

.primary {
    background-color: #F27623;
}

.primary:hover {
    background-color: #D74C11;
}

.secondary {
    background-color: #4EB4BF;
}

.secondary:hover {
    background-color: #134e55
}

.tertiary {
    color: #F29F05;
    text-decoration: #F29F05 underline;
    margin-bottom: 4%;
}

.tertiary:hover {
    color: #D74C11;
    text-decoration: #D74C11 underline;
}

input, button:focus {
    outline: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.title-container h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.title-container button {
    padding: 1.5%;
}

h1 {
    margin: 0% 0% 5% 0%;
    color: #F27623
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2%;
}

.card-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 5%;
}

.card {
    width: 30%;
    margin: 0% 3.3% 3% 0%;
    background-color: #4EB4BF;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.card-link:hover {
    background-color: #134e55
}

.card-user {
    text-align: center;
    padding: 3%;
}

.card-user p {
    font-weight: 100;
}

.form-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.form-delete {
    width: 40%;
}

fieldset {
    border: none;
    border-bottom: solid #4EB4BF 1px;
    margin-bottom: 5%;
}

fieldset h2 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 20px;
}

.img-container-select img {
    margin-top: 2%;
    border-radius: 8px;
}

.img-selected {
    width: 15%;
}

.pop-up {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    padding: 17% 0%
}

.success {
    display: none;
}

.successEdit {
    display: none;
}

.successRegister{
    display: none;
}

.show{
    display: block;
}

.pop-up div {
    background-color: white;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    margin: auto;
}

.pop-up p {
    font-size: 30px;
    color: #4EB4BF;
    margin-bottom: 10%;
}

.container-cards-dashboard {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-cards-dashboard h2 {
    font-weight: 400;
    font-size: 20px;
}

.card-container-long {
    width: 100%;
    height: 80px;
    background-color: #4EB4BF;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    box-sizing: border-box;
    padding: 0% 3%;
}

.card-container-long h3 {
    font-weight: 400;
    font-size: 15px;
}

.btn-container-long {
    display: flex;
    width: 27%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.card-container .tertiary {
    margin-bottom: 5%;
}

.card-members {
    width: 39%;
    border-radius: 5px;
    height: 370px;
    padding: 3%;
    text-align: center;
    background-color: #4EB4BF;
    color: white;
    margin-bottom: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-members-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-members-container div {
    width: 48%;
    text-align: left;
}

.card-members p, span {
    text-align: left;
}

.card-members h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
}

.card-members span {
    font-weight: 100;
}

.members-text {
    line-height: 21px;
    text-align: left;
}

.card-members i {
    border-bottom: 1px solid white;
    padding: 15px;
}

.margin {
    margin-top: 40px
}

.card-members .btn-card {
    padding: 2%;
    width: 25%;
    align-self: center;
}

.container-reports {
    background-color: #4EB4BF;
    color: white;
    border-radius: 8px;
    padding-top: 2%;
    padding: 5%;
}

.btn-back-reports {
    margin-top: 2%;
}

.reports-border {
    border: 0.5px solid #fff;
}

.section-reports {
    display: grid;
    grid-template-rows: 410px 410px;
    grid-template-columns: 48% 48%;
    justify-content: space-around;
    grid-row-gap: 2%;
}

.relact-desc {
    height: 100px;
}

.preview {
    padding: 2% 0% 0% 0%;
    display: grid;
}

.container-btn-members{
   margin-top: 5%;
}

.container-btn-members .btn-change{
    padding: 1.5%;
}

.btn-tertiary-members{
    margin-top: 5%;
}
