/* GERAL */
.main-index {
    color: white;
}

/* PRINCIPAL */
.main-index .principal {
    background: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-index .principal-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    font-size: 82px;
    text-align: center;
}

/* MISSÃO */

.main-index .missao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0px;
    background-color: #F27623;
}

.missao .subtitle {
    margin: 0px;
    font-size: 45px;
}

.main-index .subtitle-container {
    border-right: 5px solid white;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-index .missao-text {
    font-weight: 400;
    width: 400px;
    line-height: 25px;
}

/* MÉTRICAS */

.main-index .metricas {
    background: url("../img/metricas/metricas.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-index .metricas .section-title {
    width: 36%;
}


.main-index .metricas-icon {
    width: 160px;
    height: 160px;
}

.main-index .metricas-text {
    line-height: 60px;
    font-size: 45px;
    text-align: center;
}

.main-index .metricas-number {
    font-family: 'Montserrat', sans-serif;
}

.main-index .metricas-subtitle {
    font-size: 25px;
    line-height: 0;
    margin-top: 13px;
}

.main-index .metricas-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/* PARCERIAS */

.main-index .partners {
    background-color: #4EB4BF;
}

.main-index .partners .section-title {
    width: 22%;
}

.main-index .partners-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.main-index .logo-empresa {
    width: 150px;
}

/* HISTÓRIA */

.main-index .history {
    background: url("../img/historia/historia-background.png");
}

.main-index .carroussel-layout{
    display: flex;
    align-items: center;
}

.main-index .history .section-title {
    width: 20%;
}

.main-index .carroussel-container {
    text-align: center;
    width: 1000px;
    overflow: hidden;
    height: 350px;
}

.main-index .slide {
    position: relative;
    width: 10000px;
    transition: margin 0.5s ease-in-out;
    overflow: auto;
}

.main-index .information-container {
    float: left;
    width: 1000px;
    box-sizing: border-box;
}

.main-index .pagination {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
}

.main-index .pagination-item {
    border-bottom: 1px solid white;
    width: 40px;
    border-radius: 15px;
}

.main-index .active-pagination {
    border-bottom: 3px solid white;
}

.main-index .history-date {
    font-weight: 600;
    font-size: 63px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.main-index .history-article {
    text-align: center;
    margin-bottom: 50px;
    line-height: 170%;
    padding: 0% 2px;
}

/* PROJETOS */

.main-index .projects {
    background: linear-gradient(180deg, #004D40 0%, rgba(215, 76, 17, 0.5) 0%), url("../img/projects/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-index .projects .section-title{
    width: 22%;
}

.main-index .container-projects {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.main-index .btn-container {
    display: flex;
    align-items: center;
    height: 240px;
    margin-right: 3%;
    margin-left: 3%;
}

.main-index .course-container-hidden {
    width: 400px;
    overflow: hidden;
}

.main-index .course-container{
    width: 2250px;
    float: left;
    left: 0px;
    position: relative;
    transition: left 0.5s ease-in-out;
}

.main-index .course{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    float: left;
}

.main-index .course-container img {
    width: 100%;
}

.main-index .course-container dd {
    padding: 30px 0px;
    text-align: center;
    line-height: 150%;
}

.main-index .course-container div button {
    text-align: center;
}

.main-index .img-course {
    background-image: url(../img/projects/curso-yes-nas-escolas.png);
    background-size: contain;
    height: 200px;
    width: 380px;
    display: flex;
}

.main-index .img-course dt {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #4EB4BF;
    align-self: flex-end;
    width: 100%;
    font-weight: bold;
}

/* SEJA MEMBRO */

.main-index .be-a-member {
    background: #FFC24F;
}

.main-index .be-a-member .section-title {
    width: 30%;
}

.main-index .be-a-member .beamember-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.main-index .carousel-container{
    width: 4000px;
    transition: left 0.5s ease-in-out;
    left: 0px;
    position: relative;
}

.main-index .member{
    display: flex;
    width: 900px;
    float: left;
}

.main-index .carrousel-img-container {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.main-index .carrousel-img {
    width: 300px;
    border-radius: 10px;
}

.main-index .be-a-member h3 {
    text-align: center;
    font-weight: 400;
    margin: 20px 0px;
}

.main-index .carrousel-text-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-index .carrousel-text-container p {
    text-align: center;
    margin-bottom: 55px;
}

.main-index .carrousel-img-container .btn-container {
    display: flex;
    width: 30px;
}

.main-index .carrousel-img-container .carousel-icon-orientation {
    margin: 0px;
    padding: 0px;
}

/* QUEM SOMOS */

.main-index .who-are {
    background-color: #4EB4BF;
    text-align: center;
}

.main-index .who-are .section-title {
    width: 30%;
}

.main-index .who-are p {
    margin-top: 50px;
    text-align: initial;
    font-size: 16px;
}

.main-index .who-are .primary {
    margin-top: 5%;
}

/* FIQUE POR DENTRO */

.main-index .page-news {
    background-image: url(../img/page-news-index/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-index .page-news .section-title {
    width: 36%;
}

.main-index .page-news .description {
    width: 29%;
}

.main-index .container-inside {
    display: flex;
    justify-content: space-between;
}

.main-index .container-news {
    width: 55%;
    height: 510px;
    text-align: center;
}

.main-index .container-news .bt-news {
    margin-top: 5%;
    width: 0;
}

.main-index .container-news button {
    margin-top: 5%;
}

.main-index .specific-news {
    display: flex;
    flex-direction: column;
    width: 250px;
    float: right;
    margin-left: 8%;
    margin-bottom: 5%;
}

.main-index .container-news .row {
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.main-index .specific-news img {
    height: 155px;
}

.main-index .specific-news a {
    text-decoration: none;
}

/* NEWS LETTER */

.main-index .news-letter {
    background: #F27623;
    display: flex;
    padding: 60px 82px;
    justify-content: space-around;
    align-items: center;
}

.main-index .news-letter img {
    width: 150px;
}

.main-index .title-newsLetter {
    font-size: 25px;
    font-weight: 600;
    border-right: white 5px solid;
    width: 45%;
    padding-right: 10px;
}

.main-index .news-letter form {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;

}

.main-index .news-letter form input {
    border-radius: 8px;
    margin-bottom: 10%;
    width: 300px;
    height: 25px;
    padding-left: 3%;
    border: none
}

.main-index .news-letter button {
    background: #4EB4BF;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
}

.main-index .news-letter button:hover{
    background-color: rgb(65, 147, 156)
}

/* popUp */

.body-index .pop-up div{
    background-color: white;
    text-align: center;
    width: 50%;
    height: 260px;
    padding: 3%;
    border-radius: 8px;
}

.show{
    display: block;
}
.success{
    display: none;
}

.body-index .pop-up p:nth-child(1){
    color: #4EB4BF;
    font-weight: 600;
    font-size: 30px;
    line-height: 125%;
    margin-bottom: 5%;
}

.body-index .pop-up p:nth-child(2){
    color: #C74C11;
    font-size: 20px;
    margin-bottom: 10%;
}

.body-index .pop-up a {
    background: #4EB4BF;
    padding: 2% 10%;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.body-index .pop-up button:hover{
    background-color: rgb(65, 147, 156);
}


