/* GERAL */

.main-index {
    color: white;
}

.container-width {
    max-width: 960px;
    margin: 0 auto;
}

/* PRINCIPAL */

.main-index .principal {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-index .principal-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    font-size: 5.125em;
    text-align: center;
}

.main-index .principal-img-background {
    display: none;
}

@media (max-width: 739px) {
    .main-index .principal-title {
        margin: 0;
        font-size: 3.125em;
    }
    .main-index .principal {
        height: 200px;
        padding: 0 15px;
    }
}

/* MISSÃO */

.main-index .missao {
    background-color: #F27623;
}

.missao .subtitle {
    font-size: 2.8125em;
}

.missao .container-width {
    display: flex;
    justify-content: center;
    align-items: center;
}

.missao h2 {
    margin: 0px 0% 0px 10%;
    padding-right: 5%;
}

.missao .section-title:after {
    content: '';
    width: 5px;
    background-color: white;
    height: 200px;
    margin-left: 50px;
}

.missao i {
    max-width: 400px;
    text-align: initial;
}

.main-index .missao-text {
    font-weight: 400;
    line-height: 25px;
}

@media (max-width: 749px) {
    .missao .container-width {
        flex-direction: column;
    }
    .missao h2 {
        margin: 0px;
        padding-right: 0px;
    }
    .missao i {
        max-width: none;
    }
    .main-index .missao .section-title {
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 30px;
        margin-right: 0px;
    }
    .main-index .missao .section-title:after {
        background-color: white;
        height: 5px;
        width: 100px;
        padding-left: 0px;
        margin-left: 0px;
    }
}

@media (min-width: 545px) and (max-width: 1100px) {
    .main-index .subtitle-container {
        text-align: left;
        display: block;
    }
}

@media (max-width: 544px) {
    .main-index .subtitle-container {
        width: 100%;
        border: none;
        text-align: center;
        display: block;
    }
}

/* MÉTRICAS */

.main-index .metricas {
    background: url("../img/metricas/metricas.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-index .metricas-icon {
    width: 160px;
    height: 160px;
}

.main-index .metricas-text {
    line-height: 60px;
    font-size: 2.8125em;
    text-align: center;
}

.main-index .metricas-number {
    font-family: 'Montserrat', sans-serif;
}

.main-index .metricas-subtitle {
    font-size: 0.62em;
    line-height: 0;
    margin-top: 13px;
}

.main-index .metricas-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 784px) {
    .main-index .metricas-container {
        display: block;
        text-align: center;
    }
    .main-index .metricas-icon {
        width: 100px;
        height: 100px;
    }
    .main-index .metricas-subtitle {
        font-size: 0.42em;
        line-height: 0;
    }
    .main-index .metricas-text {
        line-height: 60px;
        font-size: 2.8125em;
        text-align: center;
    }
}

/* PARCERIAS */

.main-index .partners {
    background-color: #4EB4BF;
}

.main-index .partners-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.main-index .logo-empresa {
    width: 150px;
}

/* HISTÓRIA */

.main-index .history {
    background: url("../img/historia/historia-background.png");
}

.carroussel-layout {
    display: flex;
    align-items: center;
}

.carroussel-container {
    text-align: center;
    width: 1000px;
    overflow: hidden;
    height: 350px;
}

.slide {
    position: relative;
    width: 10000px;
    transition: margin 0.5s ease-in-out;
    overflow: auto;
}

.information-container {
    float: left;
    width: 1000px;
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
}

.pagination-item {
    border-bottom: 1px solid white;
    width: 40px;
    border-radius: 15px;
}

.active-pagination {
    border-bottom: 3px solid white;
}

.history-date {
    font-weight: 600;
    font-size: 3.9375em;
    text-align: center;
    margin-bottom: 50px;
    width: 850px;
    font-family: 'Montserrat', sans-serif;
}

.history-article {
    text-align: center;
    margin-bottom: 50px;
    line-height: 170%;
    padding: 0% 2px;
    width: 860px;
}

@media (min-width: 785px) and (max-width: 960px) {
    .carroussel-container {
        width: 600px;
        margin-bottom: 50px;
    }

    .history-date {
        width: 600px;
    }
    
    .history-article {
        width: 550px;
    }
}


@media (max-width: 784px) {
    .history{
        display: none;
    }
}

/* PROJETOS */

.main-index .projects {
    background: linear-gradient(180deg, #004D40 0%, rgba(215, 76, 17, 0.5) 0%), url("../img/projects/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-index .btn-container {
    display: flex;
    align-items: center;
    height: 400px;
    margin-right: 3%;
    margin-left: 3%;
}

.main-index .course-container-hidden {
    width: 800px;
    overflow: hidden;
}

.main-index .course-container {
    width: 2250px;
    float: left;
    left: 0px;
    position: relative;
    transition: left 0.5s ease-in-out;
}

.main-index .course {
    width: 380px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    float: left;
}

.main-index .course img {
    width: 100%;
}

.main-index .course dd {
    padding: 30px 0px;
    text-align: center;
    line-height: 150%;
    height: 50px;
}

.main-index .course-container div button {
    text-align: center;
}

.main-index .img-course {
    height: 200px;
    width: 380px;
    flex: 1;
}

.main-index .img-course img {
    width: 100%;
    height: 100%
}

.main-index .img-course dt {
    padding: 10px;
    text-align: center;
    background-color: #4EB4BF;
    font-weight: bold;
    top: -38px;
    position: relative;
}

.container-mobile-projects {
    display: none;
    text-align: center;
}

.main-index .course a {
    color: white
}

@media (min-width: 740px) and (max-width: 1143px) {
    .main-index .course-container-hidden {
        width: 380px;
    }
}

@media (max-width: 739px) {
    .main-index .container-projects {
        display: none;
    }
    .container-mobile-projects {
        display: block;
        text-align: center;
    }

    .container-mobile-projects > p {
        text-align: justify;
        margin: 0 0 20px 0;
    }
    
}

/* SEJA MEMBRO */

.main-index .be-a-member {
    background: #FFC24F;
}

.main-index .be-a-member .beamember-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.main-index .carousel-container {
    width: 4000px;
    transition: left 0.5s ease-in-out;
    left: 0px;
    position: relative;
}

.main-index .beamember-container .btn-container {
    height: 250px;
}

.main-index .member {
    display: flex;
    width: 900px;
    float: left;
}

.main-index .carrousel-img-container {
    width: 39%;
    display: flex;
    justify-content: space-between;
}

.main-index .carrousel-img {
    width: 300px;
    border-radius: 10px;
}

.main-index .be-a-member h3 {
    text-align: center;
    font-weight: 400;
    margin: 20px 0px;
}

.carrousel-text-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrousel-text-container p {
    text-align: center;
    margin-bottom: 55px;
}

.carrousel-img-container .btn-container {
    display: flex;
    width: 30px;
}

.carrousel-img-container .carousel-icon-orientation {
    margin: 0px;
    padding: 0px;
}

.btn-mobile {
    display: none
}

.be-a-member a {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .main-index .be-a-member .beamember-container {
        display: none;
    }
    .main-index .be-a-member .section-title {
        align-self: flex-start;
    }
    .main-index .be-a-member .container-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-index .be-a-member .container-width .btn-container {
        margin: 0 auto
    }
    .btn-mobile {
        margin-top: 40px;
        display: block;
    }
}

/* QUEM SOMOS */

.main-index .who-are {
    background-color: #4EB4BF;
    text-align: center;
}

.main-index .who-are p {
    text-align: initial;
    font-size: 1em;
}

.main-index .who-are .primary {
    margin-top: 5%;
}

@media (max-width: 739px) {
    .main-index .who-are .primary {
        margin-top: 40px;
        align-self: flex-start;
    }
}

/* FIQUE POR DENTRO */

.main-index .page-news {
    background-image: url(../img/page-news-index/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-index .container-inside {
    display: grid;
    grid-template-columns: 40% 60%;
}

.main-index .container-news {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 20%;
    text-align: center;
    row-gap: 5%;
}

.main-index .container-news .bt-news {
    margin-top: 5%;
    width: max-content;
}

.main-index .container-news button {
    margin-top: 5%;
}

.gd-btn-news {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main-index .specific-news {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-index .container-news .row {
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
}

.main-index .specific-news img {
    height: 155px;
    width: 255px;
}

.main-index .specific-news a {
    text-decoration: none;
}

@media (min-width: 740px) and (max-width: 960px) {
    .main-index .container-inside {
        display: block;
    }
    .main-index .container-inside .description {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 739px) {
    .main-index .container-inside, .main-index .container-news {
        display: block;
    }
    .main-index .container-inside .description {
        margin: 0 0 10px 0;
    }
    .main-index .container-inside .description {
        margin: 0 0 15px 0;
    }
    .main-index .specific-news img {
        height: 100px;
        width: 200px;
        margin: 0 auto;
    }
    .main-index .container-news .bt-news {
        margin: 5px auto 20px auto;
    }
}

/* NEWS LETTER */

.main-index .news-letter {
    background: #F27623;
}

.main-index .news-letter img {
    width: 140px;
    padding: 0 5%;
    height: 140px;
    margin: auto;
}

.main-index .title-newsLetter {
    font-size: 1.5625em;
    font-weight: 600;
    border-right: white 5px solid;
    width: 45%;
    padding-right: 10px;
}

.main-index .news-letter form {
    text-align: center;
}

.main-index .news-letter form input:nth-child(2) {
    margin: 20px 0 20px 0;
}

.container-form-newsletter {
    margin: auto;
}

.container-newsletter {
    display: flex;
}

.main-index .news-letter form input {
    border-radius: 8px;
    width: 300px;
    height: 25px;
    padding-left: 3%;
    border: none
}

.main-index .news-letter button {
    background: #4EB4BF;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 0.9375em;
    border-radius: 8px;
}

.main-index .news-letter button:hover {
    background-color: rgb(65, 147, 156)
}

@media (min-width: 740px) and (max-width: 980px) {
    .main-index .title-newsLetter {
        padding-right: 40px;
        margin-right: 40px;
    }
    .main-index .news-letter img {
        display: none;
    }
}

@media (max-width: 739px) {
    .main-index .news-letter img {
        display: none;
    }
    .main-index .container-newsletter {
        flex-direction: column;
    }
    .main-index .title-newsLetter {
        border-right: none;
        align-self: center;
        width: 100%;
    }
    .main-index .title-newsLetter h3 {
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }
    .main-index .title-newsLetter h3:nth-child(1) {
        display: none;
    }
}

/* popUp */

.body-index .pop-up div {
    background-color: white;
    text-align: center;
    width: 50%;
    height: 260px;
    padding: 3%;
    border-radius: 8px;
}

.show {
    display: block;
}

.success {
    display: none;
}

.body-index .pop-up p:nth-child(1) {
    color: #4EB4BF;
    font-weight: 600;
    font-size: 1.875em;
    line-height: 125%;
    margin-bottom: 5%;
}

.body-index .pop-up p:nth-child(2) {
    color: #C74C11;
    font-size: 1.25em;
    margin-bottom: 10%;
}

.body-index .pop-up a {
    background: #4EB4BF;
    padding: 2% 10%;
    height: 50px;
    font-weight: 500;
    font-size: 1.5625em;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.body-index .pop-up button:hover {
    background-color: rgb(65, 147, 156);
}

.successRegister {
    display: none;
}

.img-course-background {
    display: none;
}

/* MEDIA */

/* titles */

@media (max-width: 739px) {
    .main-index .partners .section-title {
        width: 100%;
        border: none;
        text-align: center;
        display: block;
    }
    .main-index .partners-img-container {
        display: none;
    }
    .main-index .section-title, .main-index .metricas .section-title, .main-index .partners .section-title, .main-index .who-are .section-title {
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 30px;
        position: relative;
        margin-right: 0px;
    }
    .main-index .metricas .section-title:after {
        background-color: white;
        padding-left: 0px;
        margin-left: 0px;
    }
    .main-index .metricas .section-title, .main-index .partners .section-title, .main-index .who-are .section-title {
        display: flex
    }

    .main-index .news-letter form input {
        width: 100%;
        box-sizing: border-box;
    }

    .main-index .news-letter button{
        width: 100%
    }
    .main-index .padding {
        padding: 50px 15px;
    }
}