body{
    background-color: #F29F05;
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 14px;
}

.login-card{
    background-color: white;
    width: 35%;
    border-radius: 5px;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

.login-card img{
    width: 50%;
    align-self: center;
    margin-bottom: 10%;
}

.login-card input{
    padding: 5%;
    margin-top: 5%;
}

.login-card button{
    padding: 5%;
    margin-top: 5%;
}

