.main-news-general h1 span , h2 span, h3 span {
    display: block;
    line-height: 57px;
}

.main-news-general h1 a, h2 a, h3 a{
    text-decoration: none;
}

.main-news-general .news-plus:hover{
color: #D74C11;
}

.main-news-general .manchete{
    background: url("../img/news-general/hands-information-magazine-6053.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-news-general .manchete h1 a{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 4.0625em;
    text-decoration: none;
}

.main-news-general .title-container h2{
    font-size: 3.875em;
    text-align: right;
    color: #D74C11;
}

.main-news-general .news-container{
    display: flex;
    height: 300px;
}

.main-news-general .news-img-container{
    width: 50%;
}

.main-news-general .news-text-container{
    width: 50%;
    box-sizing: border-box;
    padding: 0px 82px;
    height: 300px;
}

.main-news-general .news-text-container p{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 50px;
}

.main-news-general .news-img-container img{
    width: 100%;
    height: 300px;
}

.main-news-general .news-container h3{
    font-size: 2.8125em;
    color: #FFC24F;
}

.main-news-general .news-container h3 div{
    margin-top: 15px;
}

.main-news-general .news-text-container a{
    color: #FFC24F;
}

.main-news-general .align-right{
    text-align: right;
}


.main-news-general .pagination{
    margin: 60px;
}

.main-news-general .pagination ul{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.main-news-general .pagination ul li a{
    color: #D74C11;
    padding: 10px;
    margin-right: 15px;
    text-decoration: none;
    border-bottom: 1px solid #D74C11;
}

@media (min-width: 740px) and (max-width: 960px) {
    .main-news-general .news-text-container, .main-news-general .news-img-container img, .main-news-general .news-container {
        height: 280px;
    }

}

@media (max-width: 739px) {
    .main-index .container-inside, .main-index .container-news {
        display: block;
    }
    .main-index .container-inside .description {
        margin: 0 0 10px 0;
    }
    .main-index .container-inside .description {
        margin: 0 0 15px 0;
    }
    .main-index .specific-news img {
        height: 100px;
        width: 200px;
        margin: 0 auto;
    }
    .main-index .container-news .bt-news {
        margin: 5px auto 20px auto;
    }
}