body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 21%;
    grid-template-rows: 70px;
}

aside {
    grid-column-start: 1;
    position: fixed;
    left: 0;
    width: 21%;
    height: 100%;
    top: 70px;
}

.header-dash {
    width: 100%;
    position: sticky;
    grid-column: 1 / 3;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-dash {
    background-color: #F29F05;
    padding: 0% 5.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 100%;
}

.nav-dash img {
    width: 12%;
}

.nav-dash a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.nav-dash a:hover {
    color: #480000
}

.auxiliar-nav {
    background-color: #FFC24F;
    width: 21%;
    text-align: center;
}

.auxiliar-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 2%;
    border-bottom: 1px solid white;
}

.auxiliar-nav ul li a:hover {
    color: #F27623
}

.auxiliar-nav ul li {
    margin: 0% 0% 15% 0%;
}

.auxiliar-nav ul {
    padding-top: 15%;
}

.dash-body {
    padding: 3%
}
