.newspaper {
    color: black;
}

body .main-quem-somos {
    color: white;
}

.main-quem-somos .section-title {
    width: 30%;
}

.main-quem-somos .institutional h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.8125em;
    text-align: center;
}

.main-quem-somos .institutional .one {
    margin-top: 0%;
    background-image: url(../img/quem-somos/quem-somos-principal.png);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-quem-somos .institutional .two {
    background-color: #4EB4BF;
}

.main-quem-somos .container {
    padding: 82px;
    margin: 0;
}

.main-quem-somos .container p {
    text-align: justify;
    font-size: 1em;
    line-height: 45px;
    font-weight: 300;
}

.main-quem-somos .three {
    background: #F29F05;
}

.main-quem-somos .subtitle {
    font-size: 1.875em;
    padding: 0;
    margin-bottom: 50px;
}

.main-quem-somos .three .subtitle {
    text-align: end;
}

.main-quem-somos .four {
    background: #C74C11;
}

.main-quem-somos .newspaper {
    padding: 82px;
}

.main-quem-somos .newspaper h2 {
    color: #D74C11;
    border-right: #D74C11 solid 5px;
    width: 20%;
}

.logo-card-one {
    margin-bottom: 12px;
}

.logo-card-two, .logo-card-three {
    margin-bottom: 25px;
}

.newspaper img {
    width: 150px;
}

.newspaper p {
    font-style: italic;
}

.container-newspaper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
}

@media (min-width: 739px) and (max-width: 980px) {
    .container-newspaper {
        display: block;
    }

    .card-newspaper {
        margin: 30px 0;
    }

    .container-newspaper p {
        width: 50%;
        margin: 0 auto;
    }

}

@media (max-width: 739px){

}