.newspaper{
    color: black;
}

body .main-quem-somos {
    color: white;
}

.main-quem-somos .section-title {
    width: 30%;
}

.main-quem-somos .institutional h1 {
    margin: 0;
    font-weight: 300;
    font-size: 45px;
    width: 57%;
    text-align: center;
}

.main-quem-somos .institutional .one {
    margin-top: 0%;
    background-image: url(../img/quem-somos/quem-somos-principal.png);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-quem-somos .institutional .two {
    background-color: #4EB4BF;
}

.main-quem-somos .container {
    padding: 82px;
    margin: 0;
}

.main-quem-somos .container p {
    text-align: justify;
    font-size: 16px;
    line-height: 45px;
    font-weight: 300;
}

.main-quem-somos .three {
    background: #F29F05;
}

.main-quem-somos .subtitle {
    font-size: 30px;
    padding: 0;
    margin-bottom: 50px;
}

.main-quem-somos .three .subtitle {
    text-align: end;
}

.main-quem-somos .four {
    background: #C74C11;
}

.main-quem-somos .newspaper {
    padding: 82px;
}

.main-quem-somos .newspaper h2{
    color: #D74C11;
    border-right: #D74C11 solid 5px;
    width: 20%;
}

.main-quem-somos .bubble {
    align-items: center;
    display: flex;
    position: relative;
    background: white;
    border: solid black;
    color: white;
    text-align: center;
    width: 45%;
    height: 120px;
    border-radius: 8px;
    margin-left: 20%;
    margin-top: 3%;
    line-height: 25px;
    font-size: 16px;
    color: black;
}
.main-quem-somos .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 24px 0 0 23px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
    top: -24px;
    left: 33%;
    margin-left: -11.5px;
}

.newspaper .carroussel{
    display: flex;
    justify-content: space-between;
}

.newspaper .carroussel-container {
    width: 850px;
    height: 250px;
}

.newspaper .btn-container{
    margin: 0px;
}

.newspaper .visible{
    position: relative;
    width: 4000px;
    transition: margin 0.5s ease-in-out;
    overflow: auto;
    display: flex;
}

.newspaper .btn{
    width: 30px;
}

.newspaper .card{
    width: 850px;
    height: 250px;
}

.newspaper img{
    width: 150px;
}

.newspaper p{
    margin-top: 5%;
    font-style: italic;
}

.newspaper .btn-container {
    display: flex;
    align-items: center;
    height: 250px;
    margin-right: 3%;
    margin-left: 3%;
}

.newspaper .pagination-item{
    border-bottom: 1px solid black
}

.newspaper .logo-2{
    width: 220px;
}

.newspaper .logo-3{
    width: 400px;
}

.newspaper .text-2{
    margin-top: 1%;
}

.newspaper .text-3{
    margin-top: 1%;
}

.newspaper .active-newspaper{
    border: 2px solid black
}

