.main-news-specific .news-img{
    width: 100%;
    height: 500px;
}

.main-news-specific .title-container{
    margin: 50px 82px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main-news-specific .title-container h1{
    font-size: 62px;
    text-align: right;
    color: #D74C11;
}

.main-news-specific .title-container p{
    color: #F27623;
    width: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.main-news-specific .description-title{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
    padding-left: 50px;
}

.main-news-specific .section-title {
    font-weight: 600;
    font-size: 45px;
    height: 75px;
    display: flex;
    align-items: center;
    color: white;
    border-right: 5px solid white;
    margin: 0px 0px 60px;
    width: 30%;
}

.main-news-specific .principal-title-container{
    width: 600px;
    border-right: 5px solid #D74C11;
    box-sizing: border-box;
    padding-right: 50px;
}


.main-news-specific article{
    padding: 0px 82px 82px;
    line-height: 30px;
}

.main-news-specific article p{
    margin-bottom: 20px;
    text-align: justify;
}

.main-news-specific .relacionados{
    padding: 30px 82px;
    padding-bottom: 70px ;
    background-color: #4EB4BF;
    color: white;
}


.main-news-specific .relacionados-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-news-specific .relacionados-container div{
    width: 300px;
    text-align: center;
}

.main-news-specific .relacionados img{
    margin-top: 50px;
    width: 300px;
    margin-bottom: 25px;
}

.main-news-specific .relacionados-container p{
    line-height: 30px;
    text-align: left;;
}
