.title-container{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 960px;
}

.title-container h1{
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 3.875em;
    color: #D74C11;
    width: 50%;
}

.title-container h1:after{
    content: '';
    width: 5px;
    background-color: #D74C11;
    height: 200px;
    margin: 0px 50px;
}

.title-container p{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    color: #F27623;
    text-align: left;
    font-size: 1.25em;
}
