<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-course">
        <section>
            <img src="../img/projects/cursos-principal.png" alt="Imagem de crianças desenhando na escola" class="img-top">


            <div class="title-container">
                <div class="principal-title-container">
                    <h1>
                        YES <div>Nas escolas</div>
                    </h1>
                </div>

                <div class="description-title">
                    <p>Técnicas para desenvolvimento físico e emocional nas escolas</p>
                </div>

            </div>


            <article>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis, est et fringilla iaculis,
                    urna
                    nibh pretium eros, sit amet scelerisque quam lacus at dui. Aliquam erat volutpat. Mauris id bibendum
                    mi,
                    id luctus magna. Donec elementum sapien nisl, eget pharetra turpis malesuada vitae. Quisque dictum
                    sit
                    amet lorem hendrerit semper. Aenean blandit mi sed neque ultricies, vel mattis dui mattis. Nam id
                    felis
                    tincidunt, eleifend nisl in, eleifend augue. Etiam rutrum, tortor ut tincidunt pulvinar, nulla neque
                    iaculis arcu, at placerat est tortor vel elit. Sed convallis porttitor viverra. Phasellus iaculis
                    gravida augue, nec mattis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    ullamcorper dolor velit.</p>

                <p>Fusce interdum sapien sed ipsum malesuada porta. Aliquam eget mauris nibh. Phasellus dapibus id erat
                    sit
                    amet ultricies. Aenean pellentesque, mi dictum iaculis finibus, nulla arcu pellentesque orci,
                    vehicula
                    molestie odio elit sit amet sapien. Proin fringilla risus eu fermentum fringilla. Nullam mattis,
                    quam
                    sit amet scelerisque posuere, ligula justo bibendum erat, eget auctor purus metus vel ipsum. Sed
                    molestie tristique convallis. Nam congue ac elit viverra consequat. Proin tristique ac dolor ac
                    rutrum.
                    Fusce ac faucibus nulla. Nulla facilisi. Ut at bibendum sem, sit amet finibus tortor.</p>

                <p>Fusce ipsum purus, molestie a dictum at, mollis in sem. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Sed vel vehicula elit, mollis lacinia augue. Donec
                    consequat,
                    urna sit amet maximus semper, libero est luctus enim, ut pellentesque mi enim a nunc. Donec sed
                    iaculis
                    arcu, at hendrerit odio. Pellentesque ornare lobortis lectus, ut lobortis nisl cursus sit amet.
                    Aenean
                    suscipit dignissim gravida. In nunc urna, consectetur id scelerisque vitae, finibus fringilla massa.
                    Sed
                    finibus volutpat dui, pharetra vulputate libero scelerisque sit amet. Nulla quis ante metus. Sed
                    porttitor lectus id dolor vestibulum, eu laoreet nulla gravida.</p>

                <p>Fusce interdum sapien sed ipsum malesuada porta. Aliquam eget mauris nibh. Phasellus dapibus id erat
                    sit
                    amet ultricies. Aenean pellentesque, mi dictum iaculis finibus, nulla arcu pellentesque orci,
                    vehicula
                    molestie odio elit sit amet sapien. Proin fringilla risus eu fermentum fringilla. Nullam mattis,
                    quam
                    sit amet scelerisque posuere, ligula justo bibendum erat, eget auctor purus metus vel ipsum. Sed
                    molestie tristique convallis. Nam congue ac elit viverra consequat. Proin tristique ac dolor ac
                    rutrum.
                    Fusce ac faucibus nulla. Nulla facilisi. Ut at bibendum sem, sit amet finibus tortor.</p>

                <p>Fusce ipsum purus, molestie a dictum at, mollis in sem. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Sed vel vehicula elit, mollis lacinia augue. Donec
                    consequat,
                    urna sit amet maximus semper, libero est luctus enim, ut pellentesque mi enim a nunc. Donec sed
                    iaculis
                    arcu, at hendrerit odio. Pellentesque ornare lobortis lectus, ut lobortis nisl cursus sit amet.
                    Aenean
                    suscipit dignissim gravida. In nunc urna, consectetur id scelerisque vitae, finibus fringilla massa.
                    Sed
                    finibus volutpat dui, pharetra vulputate libero scelerisque sit amet. Nulla quis ante metus. Sed
                    porttitor lectus id dolor vestibulum, eu laoreet nulla gravida.</p>
            </article>

            <div class="testimonial">
                <div class="report">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend mauris neque, at
                        ullamcorper felis vehicula vitae. Nulla nulla enim, gravida nec cursus nec, consequat faucibus
                        nulla. Nulla ut finibus justo, quis venenatis urna. In felis tortor, lacinia ac nisi non,
                        euismod
                        laoreet turpis. Curabitur ac purus mi.
                    </p>
                    <div>Sakura - 12 anos</div>
                </div>
            </div>

        </section>


        <!-- relacionados -->
        <section class="impact">
            <h2 class="section-title">impactos</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto praesentium quia! Laboriosam enim
                autem modi quas quia. Corrupti quo officiis molestias itaque cum dolores in harum nemo totam
                perferendis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, iste! Fuga, mollitia! Rem,
                ipsa ab! In fugit iure, sunt architecto vero explicabo velit, officia magnam reprehenderit quibusdam
                pariatur corrupti sapiente.</p>

            <div class="impact-container">
                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>
            </div>

        </section>

    </main>

    <%- include ../partials/footer.ejs %>