<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-specific">
        <section>
            <img src="../img/news/active-activity-adult-1472887.jpg" alt="" class="img-top">


            <div class="title-container">
                <div class="principal-title-container">
                    <h1>
                        TÍTULO <div>da notícia aqui</div>
                    </h1>
                </div>

                <div class="description-title">
                    <p>Técnicas para desenvolvimento físico e emocional nas escolas</p>
                </div>

            </div>


            <article>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis, est et fringilla iaculis,
                    urna
                    nibh pretium eros, sit amet scelerisque quam lacus at dui. Aliquam erat volutpat. Mauris id bibendum
                    mi,
                    id luctus magna. Donec elementum sapien nisl, eget pharetra turpis malesuada vitae. Quisque dictum
                    sit
                    amet lorem hendrerit semper. Aenean blandit mi sed neque ultricies, vel mattis dui mattis. Nam id
                    felis
                    tincidunt, eleifend nisl in, eleifend augue. Etiam rutrum, tortor ut tincidunt pulvinar, nulla neque
                    iaculis arcu, at placerat est tortor vel elit. Sed convallis porttitor viverra. Phasellus iaculis
                    gravida augue, nec mattis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    ullamcorper dolor velit.</p>

                <p>Fusce interdum sapien sed ipsum malesuada porta. Aliquam eget mauris nibh. Phasellus dapibus id erat
                    sit
                    amet ultricies. Aenean pellentesque, mi dictum iaculis finibus, nulla arcu pellentesque orci,
                    vehicula
                    molestie odio elit sit amet sapien. Proin fringilla risus eu fermentum fringilla. Nullam mattis,
                    quam
                    sit amet scelerisque posuere, ligula justo bibendum erat, eget auctor purus metus vel ipsum. Sed
                    molestie tristique convallis. Nam congue ac elit viverra consequat. Proin tristique ac dolor ac
                    rutrum.
                    Fusce ac faucibus nulla. Nulla facilisi. Ut at bibendum sem, sit amet finibus tortor.</p>

                <p>Fusce ipsum purus, molestie a dictum at, mollis in sem. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Sed vel vehicula elit, mollis lacinia augue. Donec
                    consequat,
                    urna sit amet maximus semper, libero est luctus enim, ut pellentesque mi enim a nunc. Donec sed
                    iaculis
                    arcu, at hendrerit odio. Pellentesque ornare lobortis lectus, ut lobortis nisl cursus sit amet.
                    Aenean
                    suscipit dignissim gravida. In nunc urna, consectetur id scelerisque vitae, finibus fringilla massa.
                    Sed
                    finibus volutpat dui, pharetra vulputate libero scelerisque sit amet. Nulla quis ante metus. Sed
                    porttitor lectus id dolor vestibulum, eu laoreet nulla gravida.</p>

                <p>Fusce interdum sapien sed ipsum malesuada porta. Aliquam eget mauris nibh. Phasellus dapibus id erat
                    sit
                    amet ultricies. Aenean pellentesque, mi dictum iaculis finibus, nulla arcu pellentesque orci,
                    vehicula
                    molestie odio elit sit amet sapien. Proin fringilla risus eu fermentum fringilla. Nullam mattis,
                    quam
                    sit amet scelerisque posuere, ligula justo bibendum erat, eget auctor purus metus vel ipsum. Sed
                    molestie tristique convallis. Nam congue ac elit viverra consequat. Proin tristique ac dolor ac
                    rutrum.
                    Fusce ac faucibus nulla. Nulla facilisi. Ut at bibendum sem, sit amet finibus tortor.</p>

                <p>Fusce ipsum purus, molestie a dictum at, mollis in sem. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus. Sed vel vehicula elit, mollis lacinia augue. Donec
                    consequat,
                    urna sit amet maximus semper, libero est luctus enim, ut pellentesque mi enim a nunc. Donec sed
                    iaculis
                    arcu, at hendrerit odio. Pellentesque ornare lobortis lectus, ut lobortis nisl cursus sit amet.
                    Aenean
                    suscipit dignissim gravida. In nunc urna, consectetur id scelerisque vitae, finibus fringilla massa.
                    Sed
                    finibus volutpat dui, pharetra vulputate libero scelerisque sit amet. Nulla quis ante metus. Sed
                    porttitor lectus id dolor vestibulum, eu laoreet nulla gravida.</p>
            </article>
        </section>


        <!-- relacionados -->
        <section class="relacionados">
            <h2 class="section-title">relacionados</h2>

            <div class="relacionados-container">
                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>

        </section>
    </main>

    <%- include ../partials/footer.ejs %>