<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-quem-somos">
        <section class="institutional">
            <div class="one background-img-config">
                <div class="container-width width-padding">
                    <h1>Nossa missão é fortalecer o indivíduo para que ele sirva melhor a sociedade</h1>
                </div>
            </div>

            <div class="container two">
                <div class="container-width">
                    <h2 class="section-title">quem somos</h2>
                    <p>A Arte de Viver é uma organização internacional fundada em 1981 pelo mundialmente conhecido líder
                        humanitário e espiritual Sri Sri Ravi Shankar.

                        A Arte de Viver oferece programas efetivos de educação, autodesenvolvimento e ferramentas que
                        facilitam a eliminação de estresse e criam uma profunda paz interior, felicidade e bem-estar
                        para
                        todos indivíduos. Esses programas, os quais incluem técnicas de respiração, meditação, yoga, e
                        sabedoria prática para o dia a dia, têm ajudado milhões ao redor do mundo a transformar
                        completamente suas vidas.
                    </p>
                </div>
            </div>

            <div class="container three">
                <div class="container-width">
                    <h3 class="subtitle">Iniciativas de serviços</h3>
                    <p>Além desses programas oferecidos globalmente, a Arte de Viver, trabalhando em conjunto com a
                        Associação Internacional para os Valores Humanos (IAHV, a sigla em inglês), tem implementado com
                        sucesso numerosos projetos humanitários e iniciativas de serviço incluindo programas de
                        resolução de
                        conflitos, alívio de desastres, desenvolvimento rural sustentável, empoderamento de mulheres,
                        reabilitação de prisioneiros, educação e sustentabilidade ambiental. Conheça nossos projetos
                        sociais.</p>
                </div>
            </div>

            <div class="container four">
                <div class="container-width">
                    <h3 class="subtitle">Estrutura Organizacional</h3>
                    <p>A Arte de Viver é uma organização multifacetada com uma das maiores bases de voluntários do
                        mundo. A
                        principal sede internacional é localizada em Bangalore, na Índia. Globalmente, a organização
                        opera
                        como a Fundação da Arte de Viver, formada em 1989 nos Estados Unidos e na Alemanha. Desde então,
                        centros locais têm sido estabelecidos ao redor do mundo.</p>
                </div>
            </div>
            </div>
        </section>

        <section class="newspaper">
            <div class="container-width">
                <h2 class="section-title">imprensa</h2>

                <div class="container-newspaper">
                    <div class="card-newspaper">
                        <img src="/img/quem-somos/CNN-logo-4.png" alt="Logo da empresa CNN" class="logo-card-one">
                        <p>“respirações profundas e um bom alongamento com Yoga podem ajudar você e o seu negócio”
                        </p>
                    </div>

                    <div class="card-newspaper">
                        <img src="/img/quem-somos/o-globo.png" alt="Logo do jornal O Globo" class="logo-card-two">
                        <p class="text-2">"especialistas comprovam benefícios das técnicas em bairros que se beneficiam
                            de
                            meditação e yoga constantes"​
                        </p>
                    </div>

                    <div class="card-newspaper">
                        <img src="/img/quem-somos/large.png" alt="Logo do jornal Yoga Journal" class="logo-card-three">
                        <p class="text-3">“Arte de Viver talvez seja a prática mais rápida de crescimento espiritual em
                            todo
                            o planeta”
                        </p>
                    </div>
                </div>
        </section>
    </main>


    <script src="./js/imprensa-carousel.js"></script>
    <%- include ../partials/footer.ejs %>