<%- include ../partials/header.ejs %>

<body class="body body-cadastro">

    <!-- <section class="pop-up">
        <div>
            <p>
                Ficamos felizes pelo seu interesse em fazer parte da nossa família!
            </p>

            <p>
                Em alguns instantes você irá receber um e-mail explicando os próximos passos!
            </p>
            <button class="btn-back-cadastro">OK! Voltar para a tela inicial</button>
        </div>

    </section> -->

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>


    <main class="main-seja-membro">
        <div class="title-container">
            <div class="principal-title-container">
                <h1>
                    venha para o <div>nosso time!</div>
                </h1>
            </div>

            <div class="description-title">
                <p>Nós estamos muito felizes em saber que você está interessado em fazer a diferença no mundo!</p>
            </div>
        </div>

        <div class="cadastro-container">
            <div class="container-button"><a href="../index.html">voltar</a></div>

            <form class="form-container" method="POST" action="/dashboard/members/save">
                <p class="question">Primeiro me conte um pouco sobre você:</p>
                <div class="input-container">


                    <p>Nome completo</p><input type="text" class="input-text space" name="name">
                    <span class="alert-error">Você precisa informar seu nome</span>



                    <p>Você tem interesse em ser:</p>
                    <select class="section-text space" id="interest" name="interest">
                        <option value="0">Selecione</option>
                        <option value="1">Voluntário</option>
                        <option value="2">Parceiro</option>
                    </select>
                    <span class="alert-error">Você precisa escolher uma opção</span>



                    <div class="legal">
                        <p>Sou colaborador na empresa:</p><input type="text" class="input-text space"
                            name="collaborator">
                    </div>
                    <span class="alert-error">Você precisa informar de qual empresa é colaborador</span>



                    <div class="natural">
                        <p>Idade</p><input type="number" min="18" class="input-text" name="age">
                        <span class="alert-error">Você precisa informar sua idade</span>
                    </div>
                </div>



                <p class="question">Agora precisamos de alguns dados:</p>
                <div class="input-container">
                    <p>Email</p>
                    <input type="email" class="input-text input-text space" name="email">
                    <span class="alert-error">Você precisa informar seu email</span>




                    <p>Telefone</p>
                    <input type="tel" class="input-text" name="telephone">
                    <span class="alert-error">Você precisa informar seu telefone</span>
                </div>





                <p class="question">Por qual motivo você deseja se juntar a nós?</p>
                <div class="textarea-container">
                    <textarea rows="10" class="input-text-area" placeholder="Digite aqui" name="reason"></textarea>
                    <span class="alert-error space">Você precisa informar o motivo</span>
                </div>
                <button class=" primary space-button btn-disabled" disabled>concluir cadastro</button>
            </form>
        </div>
    </main>


    <script src="./js/membersValidation.js"></script>
    <script src="./js/comboBox.js"></script>

    <%- include ../partials/footer.ejs %>