<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>


<div class="title-container">
    <h1>visão geral - todas as notícias </h1>
    <button class="primary btn-principal">
        <a href="/dashboard/news/new">adicionar nova notícia</a>
    </button>
</div>

<div class="container-cards-dashboard">
    <h3>Já cadastradas</h3>

    <% news.forEach((news) => { %>

    <div class="long-container">
        <h4><%= news.title %></h4>
        <div class="btn-container-long">
            <button class="primary">Editar</button>
            <button class="primary">Excluir</button>
        </div>
    </div>

    <%})%>

</div>

<%- include ../../partials/dashFooter.ejs %>