<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>


<h1>adicionar nova notícia</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/news/save">
        <label>título</label>
        <input type="text" class="input-general hehe" name="title">
        <span class="alert-error">Você precisa preencher o título</span>

        <label for="">corpo da notícia</label>
        <textarea type="text" class="input-general article" name="bodyNews" id="tinyeditor" ></textarea>
        <span class="alert-error">Você precisa preencher o corpo da notícia</span>

        <div class="img-container-select">
            <label class="label-mt">capa da notícia</label>
            <div>
                <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                
                <input type="file" accept="image/png, image/jpeg" onchange="mudar(this)" class="input-general file" name="titleImage">
                <span class="alert-error">Você precisa selecionar um arquivo</span>
            </div>
        </div>

        <button class="btn-change btn-disabled" disabled>adicionar notícia</button>
    </form>

    <a href="" class="tertiary">cancelar</a>
</div>

<script src="/js/newsValidation.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/js/tinyMce.js"></script>


<%- include ../../partials/dashFooter.ejs %>
