<%- include ../../partials/dashHeader.ejs %>


<section class="pop-up edit">
    <div>
        <p class="title">Seção editada com sucesso!</p>
        <a href="/dashboard/home" class="tertiary">voltar</a>
    </div>
</section>

<%- include ../../partials/dashPage.ejs %>

<h1>home</h1>

<div class="card-container">
    <a href="/dashboard/home/principalArea/edit" class="card card-link ">área principal</a>
    <a href="/dashboard/home/beMember/edit" class="card card-link">seja membro</a>
    <a href="/dashboard/home/partners/edit" class="card card-link">parcerias</a>
</div>
<p class="successEdit"><%= successEdit %></p>


<script src="/js/popUpEdit.js"></script>
<%- include ../../partials/dashFooter.ejs %>
