<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>home</h1>

<div class="card-container">
    <a href="/dashboard/home/principalArea/edit" class="card card-link ">área principal</a>
    <a href="" class="card card-link">seja membro</a>
    <a href="" class="card card-link">parcerias</a>
</div>

<%- include ../../partials/dashFooter.ejs %>