<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>interessados</h1>

<div class="card-container">

    <div class="card-members">
        <h2>Ana Beatriz de Sousa Costa</h2>
        <i>voluntário</i>

        <p class="margin">empresa: <span>easynvest</span></p>
        <p>idade: <span>18 anos</span></p>
        <p>email: <span>anabeatrizdesousacosta@gmail.com</span></p>
        <p>telefone: <span>(11) 948060747</span></p>

        <p>motivo:
            <span class="members-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum velit
                et libero rutrum,
                vehicula varius nibh aliquam. Nunc ultrices turpis a augue tempus, eu maximus turpis interdum.
            </span>
        </p>

        <button class="primary btn-card">excluir</button>
    </div>
</div>



<%- include ../../partials/dashFooter.ejs %>