<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>


<div class="title-container">
        <h1>visão geral - todos os usuários</h1>
        <button class="primary btn-principal">
            <a href="">adicionar novo usuário</a>
        </button>
</div>

<div class="card-container">
   <div class="card card-user">
       <h2 class="subtitle">Nome do usuário</h2>
       <p>cargo</p>

      <div class="btn-container">
            <button class="btn primary btn-card">editar</button>
            <button class="btn primary btn-card">excluir</button>
      </div>
   </div>
</div>


<%- include ../../partials/dashFooter.ejs %>
