<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>adicionar novo usuário</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/users/save">
        <label for="">nome completo</label>
        <input type="text" class="input-general" name="name">
        <span class="alert-error">Você precisa preencher o nome</span>

        <label for="">cargo</label>
        <input type="text" class="input-general" name="responsibility">
        <span class="alert-error">Você precisa preencher o cargo</span>

        <label for="">e-mail</label>
        <input type="text" class="input-general" name="email">
        <span class="alert-error">Você precisa preencher o e-mail</span>

        <div class="container-password">
            <label for="">senha</label>
            <div class="grid-password">
                <input type="password" class="input-general input-password" name="password">
                <button type="button" class="btn-password-view"><img class="img-password" src="/img/dashboard/hide.png"
                        alt=""></button>
                <span class="alert-error">Preencha o campo!</span>
            </div>
        </div>

        <input type="checkbox" value="true" class="input-select" name="administrator"> Administrador

        <button class="btn-change btn-disabled" disabled>adicionar usuário</button>
    </form>

    <a href="/dashboard/users" class="tertiary">cancelar</a>
</div>

<script src="/js/userNew.js"></script>
<script src="/js/passwordView.js"></script>

<%- include ../../partials/dashFooter.ejs %>