<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>


<h1>adicionar novo usuário</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/users/save" >

        <label for="">nome completo</label>
        <input type="text" class="input-general" name="name">

        <label for="">cargo</label>
        <input type="text" class="input-general" name="responsibility">

        <label for="">e-mail</label>
        <input type="text" class="input-general" name="email">

        <label for="">senha</label>
        <input type="text" class="input-general" name="password">

        <input type="checkbox" value="true" class="input-select" name="administrator"> Administrador

        <button class="primary btn-change">adicionar usuário</button>
    </form>
    
    <a href="" class="tertiary">cancelar</a>
</div>


<%- include ../../partials/dashFooter.ejs %>